/* classe de reset + atributos que todas as páginas compartilham */
*{
    margin: 0;
    padding: 0;
} 

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300;400;900&display=swap');

body{
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
} 